@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

ul {
    display: inline-block;
    border: 1px none #333;
   
}

li {
    list-style-type: none;
}

a {
    font-size: 20px;
    color: #333;
    margin: 15px;
    padding: 15px;
    border-radius: 50%;
    background-color: #ebe8e8;
}

i.fa-facebook:hover {
    color: rgb(86, 116, 225);
}

i.fa-twitter:hover {
    color: rgb(97, 196, 228);
}

i.fa-google-plus:hover {
    color: rgb(236, 45, 45);
}

i.fa-linkedin:hover {
    color: rgb(97, 196, 228);
}

i.fa-instagram:hover {
    color: rgb(97, 196, 228);
}