body {
    display: flex;
    background: rgb(238, 238, 238);
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

header {
    border-bottom: 2px solid rgb(102, 102, 102);
    padding-left: 20px;
}

main {
    padding: 20px;
    font-family: Helvetica, sans-serif;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    padding-left: 20px;
    font-size: 0.9em;
}