@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.viewport{
    position: relative;
}

.viewport:first-child{
    background: rgb(50,45,130);
    background: linear-gradient(90deg, rgba(50,45,130,1) 0%, rgba(85,85,197,1) 35%, rgba(0,255,184,1) 100%);
}

.viewport:nth-child(2){
    background: rgb(146,45,97);
    background: linear-gradient(90deg, rgba(146,45,97,1) 0%, rgba(226,94,119,1) 35%, rgba(255,159,0,1) 100%);
}

.card{
    width: 30%;
    margin: 0 auto;
    padding: 100px 0;
}

img{
    width: 80%;
    height: auto;
    display: block;
}

p{
    color: #fff;
    font-size: 1.5em;
    position: absolute;
    bottom: 120px;
    right: 720px;
}

p:hover{
    color: yellow;
}



/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.viewport:first-child{
    background: rgb(50,45,130);
    background: linear-gradient(90deg, rgba(50,45,130,1) 0%, rgba(85,85,197,1) 35%, rgba(0,255,184,1) 100%);
}

.viewport:nth-child(2){
    background: rgb(146,45,97);
    background: linear-gradient(90deg, rgba(146,45,97,1) 0%, rgba(226,94,119,1) 35%, rgba(255,159,0,1) 100%);
}

.img-container{
    margin: auto;
    width: 30%;
    padding: 2em 0;
} */